{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
<h3 class="h3 mb-3 font-weight-normal">Mes réponses</h3>

{% for response in responses %}

    <div class="card bg-secondary wrong-responsemb-3">
        <div class="card-header">
            <p>Réponse le 
                <span class="strong">{{ response.createdAt | date('Y-m-d') }}</span> par
                <span class="strong">{{ response.user.userName }}</span>
            </p>
            <a class="strong" href="{{ path('show_question', {'id':response.question.id}) }}">La Question</a>
        </div>
        <div class="card-body">
            <p class="card-text">{{ response.body }}</p>
        </div>
    </div>

{% endfor %}

</div>

{% endblock %}

{% block footer %}

<footer class="footer footer-app">
    <h1>Footer</h1>
</footer>

{% endblock %}