
html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    min-height: calc(100vh - 250px);
    position: relative;
    padding-top: 1em;
    z-index: 2;
    top: 59.5px;
}

.flex-container-tag {
    display: flex;
    flex-direction: row;
}

.question-container {
    width: 100%;
}

.main-question-container {
    width: 80%;
}

.main-tag-container {
    width: 20%;
}

.tag-container {
    position: fixed;
    width: 12em;
    margin-left: 10px;
}

.tag-container .list-group-item {
    height: 2em
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.form-search {
    margin-right: 1em;
}

.form-group {
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select.form-control[multiple] {
    height: 10em;
}

.list-group-item {
    padding: 1px 4px;
    margin-left: 10px;
}

.form-group .col-sm-10 {
    width: 90vw;
}

.card-header {
    display: flex;
    flex-direction: row;
}

.card-header p {
    margin: 0;
    width: 85%
}

.card-post-user {
    padding:2px 20px;
}

.btn-correct-response {
    padding: 1px 5px;
    width: 4.5em;
}

.validated {
    margin-right: 1em;
}

.text-black {
    color: black;
}

.badge {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.badge-question {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.badge-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.question-user-info {
    border-bottom: 3px solid #4D5D6C;
    padding: 0em 1em 1em 1em;
    margin-bottom: 0;
}

.show-question {
    font-size: 1.1em;
    padding: 1em;
    border-top: 3px solid #4D5D6C;
    border-bottom: 3px solid #4D5D6C;

}

.btn-secondary {
    padding: 1px 5px;
    width: 4em;
}

.btn-danger {
    padding: 1px 5px;
    width: 4em;
}

.strong {
    font-weight: bold;
    font-style: italic;
}

.responses-container {
    display: flex;
    flex-direction: column;
}

.correct-response {
    order: 0;
}

.wrong-response {
    order:1;
}

.footer {
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    width: 100vw;
    margin-top: 3em;
}

.breadcrumb {
    padding: 1px 5px;
    margin: 0;
}

.breadcrumb-item {
    padding: 0px 3px;
}

.footer-app {
    position: relative;
    top: 59.5px;
    bottom: 0;
    left: 0;
    right: 0
}

h3 {
    margin-top:0.5em;
}

.question-title {
    color: white;
}

@media only screen and (max-width: 900px) {
    .flex-container-tag {
      flex-direction: column-reverse;
    }

    .main-question-container {
        width: 100%;
    }
    
    .main-tag-container {
        width: 100%;
    }
    
    .tag-container {
        position: relative;
        width: 100%;
        margin: 0;
    }
  }