
html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    padding-top: 1em;
    z-index: 2;
    top: 59.5px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.form-group {
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group .col-sm-10 {
    width: 90vw;
}

.card-header {
    display: flex;
    flex-direction: row;
}

.card-header p {
    margin: 0;
    width: 85%
}

.btn-correct-response {
    padding: 3px 7px 3px 7px;
}

.strong {
    font-weight: bold;
    font-style: italic;
}

.responses-container {
    display: flex;
    flex-direction: column;
}

.correct-response {
    order: 0;
}

.wrong-response {
    order:1;
}

.footer {
    background-color: #38B875;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    width: 100vw;
    margin-top: 3em;
}

.footer-app {
    position: relative;
    top: 59.5px;
}

.footer-security {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}