{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}

{# Questions par Tag #}
<div class="container flex-container-tag">

    <div class="main-question-container">

        <h3 class="h3 mb-3 font-weight-normal">Catégorie : {{ currentTag.name }}</h3>
    
        {% for question in currentTag.questions %}

        {% include './questions_list.html.twig' %}

        {% endfor %}

    </div>
    
    {% include './tags_list.html.twig' %}

</div>

{% endblock %}